{#
/**
 * @file
 * Component for messages.
 *
 * Variables:
 * - modifier_class: [string] Classes to modify the default component styling.
 * - heading: [string] Accessible heading.
 * - attributes: [string] HTML attributes for the wrapping element.
 * - type: [string] The type of message: error, warning or status (default).
 * - messages: [array] The messages. Each item in the array is a string.
 */
#}
{{ attach_library('zurby/messages') }}
<div class="callout {{ type }}" role="contentinfo" {% if heading %}aria-label="{{ heading }}"{% endif %} {{ attributes }} data-closable>
  {% block heading %}
    {% if heading %}
      <h5>{{ heading }}</h5>
    {% endif %}
  {% endblock heading %}

  {% block content %}
    {% if messages|length > 1 %}
      <ul class="messages__list">
        {% for message in messages %}
          <li class="messages__item">{{ message }}</li>
        {% endfor %}
      </ul>
    {% else %}
      {{ messages|first }}
    {% endif %}
  {% endblock content %}

  {%  block closable %}
    <button class="close-button" aria-label="Dismiss {{ type }}" type="button" data-close>
      <span aria-hidden="true">&times;</span>
    </button>
  {%  endblock closable %}
</div>
